.header {
    background-color: #1c1c1c;
    padding: 10px 20px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style: none;
}

.menu > li {
    position: relative;
    margin: 0 15px;
    color: #ffffff; /* Màu chữ trắng */
}

.menu > li ul {
    display: none; /* Ẩn menu con mặc định */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}

.menu > li:hover ul {
    display: block; /* Hiện menu con khi hover */
}

.menu > li ul li {
    padding: 10px;
}

.menu > li ul li a {
    text-decoration: none; /* Bỏ gạch chân */
    color: #000000; /* Màu chữ đen cho các liên kết trong menu con */
    font-size: 16px; /* Kích thước chữ trong menu con */
}

.menu > li ul li:hover {
    background-color: #f1f1f1; /* Hiệu ứng hover */
}

.menu > li a {
    text-decoration: none; /* Bỏ gạch chân */
    color: #ffffff; /* Màu chữ trắng cho liên kết chính */
    font-size: 18px; /* Tăng kích thước chữ (có thể điều chỉnh theo ý thích) */
    font-weight: normal; /* Không in đậm */
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    margin-left: 15px;
}

.icon:hover {
    color: #6fb3ff;
}

.logout-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.cart-item-count {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
    font-weight: bold;
}

.dropdown-menu {
    position: absolute; /* Đặt vị trí tuyệt đối */
    background-color: white; /* Màu nền trắng cho menu */
    border: 1px solid #ccc; /* Đường viền cho menu */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng cho menu */
    z-index: 1000; /* Đảm bảo menu nằm trên các thành phần khác */
    margin-top: 120px; /* Khoảng cách từ biểu tượng người dùng */
    padding: 10px; /* Khoảng cách bên trong menu */
    border-radius: 4px; /* Bo góc cho menu */
}

.dropdown-menu a {
    display: block; /* Hiển thị các mục menu thành block */
    padding: 8px 12px; /* Padding cho các mục menu */
    text-decoration: none; /* Bỏ gạch chân cho các liên kết */
    color: #333; /* Màu chữ */
}

.dropdown-menu a:hover {
    background-color: #f0f0f0; /* Màu nền khi hover */
}

